testCalc-tests/src/test/resources/soapWS.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.testcalc.qa.ataccama.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.testcalc.qa.ataccama.com/" name="TestCalcSoapImplementationService">
<types></types>
<message name="add">
<part name="val1" type="xsd:int"></part>
<part name="val2" type="xsd:int"></part>
</message>
<message name="addResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="divide">
<part name="val1" type="xsd:int"></part>
<part name="val2" type="xsd:int"></part>
</message>
<message name="divideResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="multiply">
<part name="val1" type="xsd:int"></part>
<part name="val2" type="xsd:int"></part>
</message>
<message name="multiplyResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="subtract">
<part name="val1" type="xsd:int"></part>
<part name="val2" type="xsd:int"></part>
</message>
<message name="subtractResponse">
<part name="return" type="xsd:int"></part>
</message>
<portType name="TestCalcSoap">
<operation name="add" parameterOrder="val1 val2">
<input message="tns:add"></input>
<output message="tns:addResponse"></output>
</operation>
<operation name="divide" parameterOrder="val1 val2">
<input message="tns:divide"></input>
<output message="tns:divideResponse"></output>
</operation>
<operation name="multiply" parameterOrder="val1 val2">
<input message="tns:multiply"></input>
<output message="tns:multiplyResponse"></output>
</operation>
<operation name="subtract" parameterOrder="val1 val2">
<input message="tns:subtract"></input>
<output message="tns:subtractResponse"></output>
</operation>
</portType>
<binding name="TestCalcSoapImplementationPortBinding" type="tns:TestCalcSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="add">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://soap.testcalc.qa.ataccama.com/"></soap:body>
</output>
</operation>
</binding>
<service name="TestCalcSoapImplementationService">
<port name="TestCalcSoapImplementationPort" binding="tns:TestCalcSoapImplementationPortBinding">
<soap:address location="http://localhost:8080/testCalc/soapWS"></soap:address>
</port>
</service>
</definitions>